{% extends 'base.html' %}

{% block title %}Accueil - La Taverne du D20{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center" style="color: #ffcc66;">Bienvenue sur la Taverne du D20</h2>
    <p class="text-center">Prend une choppe et découvre un univers riche en aventures et en personnages fascinants.</p>
    <div class="text-center mt-4">
        <a href="{{ url_for('pnj_table') }}" class="btn btn-custom">Explorer les PNJ</a>
        <a href="{{ url_for('pnjlaelith') }}" class="btn btn-custom">Explorer les PNJ Laelith</a>
    </div>
</div>
{% endblock %}
